@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
:root {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

h1 {
    font-family: 'Mukta', sans-serif;
    font-weight: 800;
    font-size: 4rem;
}

/* INDEX PAGE */

header{
    background: url('../images/question_pattern.jpg') center no-repeat no-repeat;
    background-size: cover;
    /* <a href="https://www.freepik.com/free-vector/mystery-confusion-question-mark-background-liquid-style_38091790.htm#page=3&query=quiz%20pattern&position=15&from_view=search&track=ais">Image by starline</a> on Freepik */
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    flex-direction: column;
    background-color: rgb(0, 0, 0, 0.5);
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#progressBar {
    margin-top: 1rem;
    width: 9rem;
    height: 2rem;
    border: 0.1rem solid #fff;
}

#progressBarFull {
    height: inherit;
    background-color: #fff;
}



/* BUTTONS */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #fff;
    margin-bottom: 2rem;
    text-decoration: none;
    color: #fff;
    background-color: #000;
}

/* GAME */

/* HUD */

#hud {
    display: flex;
    justify-content: space-around;
    width: inherit;
    text-align: center;
    font-size: 1.3rem;
}

/* QUESTION */

#question {
    margin: 2rem 10rem 3rem;
    text-align: center;
    font-size: 1.5rem;
}


/* CHOICES */

.choice-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
}

.choice-prefix {
    background-color: #7E8287;
    width: 5rem;
    height: 5rem;
    color: #fff;
    font-weight: 800;
    padding: 2rem;
    font-size: 1.3rem;
}

.choice-text {
    background-color: #fff;
    width: 20rem;
    height: 5rem;
    color: #333;
    font-weight: 800;
    padding: 2rem;
    font-size: 1.3rem;
}

.correct {
    background-color: #4F9D69;
}

.incorrect {
    background-color: #ff5400;
}